{
    "target-url": "{{getv "/self/service/metadata/targeturl"}}",
    "send-access-token": true,
    "bind-address": "0.0.0.0",
    "http-port": "8080",
    "applications": [
        {
            "base-path": "/",
            "error-page": "/error.html",
            "adapter-config": {{getv "/self/service/metadata/adapter-config"}},
            "constraints": {{getv "/self/service/metadata/constraints"}}
        }
    ]
}
